<div class="container wrapper-blue">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#home">My Boats</a></li>
    <li><a data-toggle="tab" href="#menu2">My Bookings</a></li>
  </ul>

  <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div class="container">
          <div class="row">
            <% @boats.each do |boat| %>
            <div class="col-xs-12 col-sm-4">
            <div class="card-owner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= cl_image_path boat.photo, height: 300, width: 400, crop: :fill %>')">


                <div class="card-category"> <h1><%= link_to boat.name, boat_path(boat.id), class: "title-dashboard" %></h1>
                  <p><%= boat.stars %></p></div>
                  <div class="card-description">
                  <p><i class="fas fa-map-pin"></i><%= boat.address %></p>
                  <p><i class="fas fa-euro-sign"></i><%= boat.price %></p>
                  <p><i class="fas fa-ship"></i><%= boat.model %></p>
                  </div>
                    <div class="delete">
                       <% if policy(boat).destroy? %>
                      <%= link_to boat_path(boat.id), method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash-alt"></i>
                    <% end %>
                    <% end %>
                  </div>
                    <div class="edit-boat">
                       <% if policy(boat).edit? %>
                      <%= link_to edit_boat_path(boat.id) do %>
                        <i class="fas fa-edit"></i>
                        <% end %>
                    <% end %>
                  </div>
              </div>
            </div>
          <% end %>
          </div>


           <% @bookings_as_owner.each do |booking|  %>
             <div class="col-xs-12 col-sm-4">
              <div class="card-owner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= cl_image_path booking.boat.photo, height: 300, width: 400, crop: :fill %>')">

                <div class="card-category"> <h1><%= link_to booking.boat.name, boat_path(booking.boat.id), class: "title-dashboard"  %></h1>
                  <p><i class="far fa-envelope"></i><%= booking.boat.owner.email %></p>
                    <p><i class="fas fa-map-pin"></i><%= booking.boat.address %></p>
                    <p><i class="fas fa-euro-sign"></i><%= booking.boat.price %></p>

                  <p><i class="fas fa-calendar-alt"></i><%= booking.start_date %>|<%= booking.end_date %></p>
                  <% if policy(booking).destroy? %>
                    <%= link_to booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="far fa-trash-alt"></i>
                     <% end %>
                    <% end %>
                </div>
                <div class="card-description-booking">My Bookings</div>
              </div>
            </div>
            <% end %>
        </div>
      </div>


    <div id="menu2" class="tab-pane fade">
       <div class="container">
        <div class="row">
            <% @bookings_as_renter.order(created_at: :desc).first(5).each do |booking| %>
          <div class="col-xs-12 col-sm-4">
            <!-- insert <div class="card"> -->
            <div class="card-owner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= cl_image_path booking.boat.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category"><h1> <%= link_to booking.boat.name, booking_path(booking.id), class: "title-dashboard"%></h1></div>
                <div class="card-description">
                <p><i class="far fa-envelope"></i><%= booking.boat.owner.email %></p>

                <p><i class="fas fa-calendar-alt"></i><%= booking.start_date  %>|<%= booking.end_date  %></p>
                <p><i class="fas fa-euro-sign"></i><%= booking.total_price %></p>
                 <p><i class="fas fa-ship"></i><%= booking.boat.model %></p>
                 </div>
                 <div class="delete"> <% if policy(booking).destroy? %>
                    <%= link_to booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="far fa-trash-alt"></i>
                     <% end %>
                    <% end %>
                  </div>
                  <div class="edit-booking"> <% if policy(booking).edit? %>
                    <%= link_to edit_booking_path(booking) do %>
                      <i class="fas fa-edit"></i>
                     <% end %>
                    <% end %>
                  </div>


            </div>
          </div>
             <% end %>
        </div>
      </div>
    </div>




</div>
</div>















































</div>
