<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1509619159938-4efea8aa33c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43fdeff2dd45d73587a365fab07fb7c3&auto=format&fit=crop&w=1567&q=80');">

  <div class="banner-content">
    <h1>BoaTbnb</h1>

    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>




<div class="content-home">
  <div class="cards-container">
      <h1 class = "text-center">Available Boats</h1>
    <div class="row">
      <% @boats.each do |boat| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- insert <div class="card"> -->
          <div class="card-owner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= cl_image_path boat.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="card-category-home"><%= link_to boat.name, boat_path(boat.id), class: 'card-category-home'%></div>
            <div class="card-description-home">
              <p><%= boat.model %></p>
              <p class = "boat_address_title"><i class="fas fa-map-pin"></i><%= boat.address %></p>
            </div>
              <img class="card-user" src="">
              <a class="card-link" href="#" ></a>
            </div>
        </div>
          <% end %>
      </div>
    </div>

      <div
      class = "map"
      id="map"
      style="width: 50%;
      height: 90vh;"
      data-markers="<%= @markers.to_json %>"
    ></div>
</div>








