<div class="container wrapper-blue">
  <div class="row">

   <% @boats.each do |boat| %>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="wrapper">


            <%= link_to boat.name, boat_path(boat.id), class: "title-index"%>
            <div class="card-owner-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= cl_image_path boat.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category"></div>
              <img class="card-user" src="">
              <a class="card-link" href="#" ></a>
            </div>
              <div class="card-description-index">
                <p> <i class="far fa-envelope"></i><%= boat.owner.email %></p>
                <p><i class="fas fa-map-pin"></i><%= boat.address %></p>
                <p><i class="fas fa-euro-sign"></i><%= boat.price %></p>
                <p><i class="fas fa-ship"></i><%= boat.model %></p>
              </div>

            <% if policy(boat).update? %>
                <%= link_to edit_boat_path(boat.id) do %>
                  <i class="fas fa-edit edit-index"></i>
                <% end %>
            <% end %>
            <% if policy(boat).destroy? %>
                <%= link_to boat, method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="fas fa-trash-alt delete-index"></i>
                <% end %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


