<div class="container wrapper-white">
  <div class="row">

<h1><%= @boat.name %></h1>
 <%= @boat.address %>
 <%= @boat.price %>
 <%= @boat.model %>
 <%= @boat.stars %>
 <%= @boat.description %>

</div>
</div>

