


    <div class="wrapper-banner " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= cl_image_path @boat.photo, height: 300, width: 400, crop: :fill %>')">

          <% if @boat.owner != current_user %>
            <div class="col-xs-12 col-sm-3 form-show">
              <h5><strong>Book this boat</strong></h5>
              <%= simple_form_for([@boat, @booking]) do |f| %>
                <%= f.input :start_date, as: :string, placeholder: "Start date?", input_html: { class: "datepickr", id: 'book-a-boat-start', data: {bookingdates: @bookings.to_json} } %>
                <%= f.input :end_date, as: :string, placeholder: "End date?", input_html: { class: "datepickr", id: 'book-a-boat-end', data: {bookingdates: @bookings.to_json} } %>
                <%= f.button :submit, class: 'btn btn-default'%>
              <% end %>
            </div>
          <% else %>
           <div class="col-xs-12 col-sm-3 form-show">
            <h1 class = "text-center title-banner-show"><%= @boat.name %> was booked by</h1>
              <p><% @boat.bookings.first(3).each do |b| %>
                  <%= b.user.email %>
                  <p><strong>From</strong> <%= b.start_date %> <strong>To</strong> <%= b.end_date %></p>
                <% end %></p>
            </div>
          <% end %>
    </div>

<div class="container-whiter">
  <div class="row flex-banner-show">
    <div class="col-xs-12 col-sm-6">
        <div class="wrapper-show-white">

          <h1 class= "title-show-boat">Infos</h1>

              <div class="card-category-show"></div>
              <img class="card-user" src="">
              <a class="card-link" href="#" ></a>

              <div class="card-description-show-banner">
                <p><%= @boat.stars %></p>
                <p> <i class="far fa-envelope"></i><%= @boat.owner.email %></p>
                <p><i class="fas fa-map-pin"></i><%= @boat.address %></p>
                <p><i class="fas fa-euro-sign"></i><%= @boat.price %></p>
                <p><i class="fas fa-ship"></i><%= @boat.model %></p>
                <p><%= @boat.description %></p>

              </div>

            <% if policy(@boat).update? %>
                <%= link_to edit_boat_path(@boat) do %>
                  <i class="fas fa-edit edit-index"></i>
                <% end %>
            <% end %>
            <% if policy(@boat).destroy? %>
                <%= link_to @boat, method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="fas fa-trash-alt delete-index"></i>
                <% end %>
            <% end %>
        </div>
      </div>
        <div
      id="map"
      style="width: 40%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
    ></div>
    </div>
  </div>







